<h1>Editing Visit</h1>

<%= render 'form', visit: @visit %>


<%= link_to 'Delete', @visit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back', visits_path, class: 'btn btn-primary' %>
 